<div  class="row g-0">
    <div style="min-height: 91vh;border-right: 2px solid black;" class="col-md-2">
        <div class="Btn_Section">
            <span routerLink="/" class="d-block font_size pointer"><i class="topBtn bi bi-house-door-fill"></i>Home button</span>
            <span routerLink="/employees" class="d-block font_size pointer"><i class="topBtn bi bi-people-fill"></i>Employees</span>
            <span routerLink="addEmployee/0" class="d-block font_size pointer"><i class="topBtn bi bi-person-fill-add"></i>Add
              Employee</span>
          </div>
    </div>
    <div style="min-height: 91vh;" class="col-md-10">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-footer footer_Style text-center">
                opyright 2024
            </div>
        </div>
    </div>
</div>